<header>
    <div class="content">
        <nav>
            <a href="/" title="home">Home</a>
        </nav>
    </div>
</header>

<style>
    header {
        width: 100%;
        margin: 0;
        padding: 10px;
        background: var(--darkred);
        color: var(--flatpink);
        border-bottom: 5px solid var(--signalpink);
    }
    a {
        display: block;
        padding: 10px;

        font-weight: bold;
        text-decoration: none;
        color: var(--flatpink);
        background: var(--signalpink);
    }
    .content {
        display: flex;

    }
</style>