---
import Link from "./Link.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import LanguagePicker from "./LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<header>
  <div class="content">
    <nav>
      <Link href=`${import.meta.env.BASE_URL}/${lang}/` title="home">{t("nav.home")}</Link>
    </nav>
    <LanguagePicker />
  </div>
</header>

<style>
  header {
    margin: 0;
    padding: 10px;
    background: var(--red);
    color: var(--flatpink);
    border-bottom: 5px solid var(--blue);
    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }

  nav {
    z-index: 1;
    display: flex;
    align-items: center;
  }

  .content {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 10px;
  }
</style>