---
type Ingredient = {
    name: string
    amount: number
    unit: string | undefined
}
interface Props {
    ingredients: Array<Ingredient>;
}

const { ingredients } = Astro.props;
---
<div class="ingredients content-box">
    <ul>
        {ingredients.map(ingredient => (
            <li>{ingredient.amount} {ingredient.unit} {ingredient.name}</li>
        ))}
    </ul>
</div>
<style>
    .ingredients {
        padding: 10px;
        background: var(--flatgreen);
        border-color: var(--darkgreen);
    }
</style>
