---
interface Props {
    href: string
    title: string
    class?: string
}

const { href, title, class: additionalClass, ...rest } = Astro.props
---
<a href={href} title={title} class={additionalClass} {...rest}>
    <slot />
</a>

<style>
    a {
        position: relative;
        display: block;
        padding: 10px;

        font-weight: bold;
        text-decoration: none;
        border: 2px solid var(--flatpink);
        color: var(--flatpink);
        background: var(--red);
        box-shadow: 5px 5px 0;
    }

    a:hover {
        transform: translate(5px, 5px);
        box-shadow: none;
    }
</style>