---
interface Props {
  step: string
}

const {step} = Astro.props
---

<li class="step">
  {step}
</li>

<style>
  .step {
    display: flex;
    flex-direction: row;
    align-items: center;
    counter-increment: steps;
    list-style: none;
    //background: var(--signalpink);
    padding: 20px;
    line-height: 1.5em;

    &:not(:first-child) {
      border-top: 5px dotted var(--darkred);
    }

    &:before {
      content: counter(steps);
      display: block;
      padding-right: 30px;
      font-size: 2em;
    }
  }
</style>