---
import Step from "./Step.astro";
interface Props {
    steps: Array<string>;
}

const { steps } = Astro.props;
---

<div class="steps content-box">
    <ul>
        {steps.map(step => (
            <Step step={step} />
        ))}
    </ul>
</div>

<style>
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .steps {
        background: var(--darkred);
        color: var(--flatpink);
        border-color: var(--signalpink);
        padding: 20px;
    }
</style>
