---
interface Props {
  step: string
}

const {step} = Astro.props
---

<li class="step">
  {step}
</li>

<style>
  .step {
    display: flex;
    flex-direction: row;
    align-items: center;
    counter-increment: steps;
    list-style: none;
    padding: 20px;
    @media screen and (max-width: 500px) {
      padding: 20px 10px;
    }
    line-height: 1.5em;

    &:not(:first-child) {
      border-top: 5px dotted var(--darkred);
    }

    &:before {
      content: counter(steps);
      display: block;
      font-size: 2em;
      padding-right: 30px;
    }
    @media screen and (max-width: 500px) {
      &:before {
        padding-right: 20px;
      }
    }
  }
</style>