---
import Header from "../components/Header.astro";
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<div class="content">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--lime: #DBF4A7;
		--yellow: #FCD581;
		--pink: #F7B2B7;
		--red: #B0413E;
		--dark: #424B54;
		--blue: #75B9BE;
		--flax: #f7e3b4;
		--flatpink: #FAE4E8;
		--shadowpink: #885660;
		--flatgreen: #B4CEB3;
		--darkgreen: #1B2D2A;
		--darkred: #582630;
		--signalpink: #EF2D56;

		--content-width: 800px;
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--flatpink);
		color: var(--darkgreen);
	}
	body {
		margin: 0;
	}
</style>
<style is:global>
	.content {
		width: 100%;
		max-width: var(--content-width);
		margin: auto;
	}
	.image {
		border: 10px double var(--darkred);
		box-sizing: border-box;
	}
	.content-box {
		display: block;
		padding: 10px;
		box-sizing: border-box;
		margin: 30px 0;
		box-shadow: 10px 10px var(--shadowpink);
		border-width: 5px;
		border-style: solid;
	}
</style>
