---
import Header from "../components/Header.astro";
interface Props {
	title: string
	description?: string
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main class="content">
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		--lime: #DBF4A7;
		--yellow: #FCD581;
		//--pink: #F7B2B7;
		--pink: oklch(82.94% 0.081 14.16);
		//--red: #B0413E;
		--red: oklch(52.85% 0.146 24.97);
		--dark: #424B54;
		--blue: #75B9BE;
		//--flax: #f7e3b4;
		--flax: oklch(92.06% 0.065 87.67);
		//--flatpink: #FAE4E8;
		--flatpink: oklch(93.77% 0.025 5.1);
		//--shadowpink: #885660;
		--shadowpink: oklch(51.17% 0.068 6.69);
		//--flatgreen: #B4CEB3;
		--flatgreen: oklch(82.46% 0.047 144.15);
		//--darkgreen: #1B2D2A;
		--darkgreen: oklch(28.04% 0.024 182.93);
		--darkred: #582630;
		//--signalpink: #EF2D56;
		--signalpink: oklch(62.19% 0.225 16.12);

		--content-width: 800px;
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--flatpink);
		color: var(--darkgreen);
	}
	body {
		margin: 0;
	}
	h1,
	h2,
	h3 {
		font-family: "Ubuntu Mono",
		"Roboto Mono", "DejaVu Sans Mono",
		monospace;
	}

	h1 {
		font-size: 3em;
	}
</style>
<style is:global>
	.content {
		width: 100%;
		max-width: var(--content-width);
		margin: auto;
    padding-bottom: 10px;
	}
	main.content {
	  padding-bottom: 50px;
	}
	.image {
		box-sizing: border-box;
	}
</style>
